<div id="search-area">
  <div id="food">

    <form class="form-wrapper cf">
        <input type="search" placeholder="What are you hungry for? Pancakes, Chocolate, Coffee, etc." name="foodItem">
        <button>Submit</button>
    </form>

  </div>

  <div id="foodItems">
    <h1>{{title}}</h1>
  </div>

</div>

<script type="text/javascript" src="/javascripts/menuItems/menuItemObject.js"></script>
<script type="text/javascript" scr="/javascripts/searching.js"></script>
